/* NAVIGATION BAR */
header{
    margin:0%;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-top: 10px;
}
body{
    margin:0;
}

.navbar {
    background-color: #D6EFF6;
    background-size:cover;
    overflow: hidden;
    padding-bottom: 10px;
    
}

.navbar li {
    display: inline;
    float: right;
    color: black;
    font-size: 14px;
    border-right: 1px solid black;
    font-family: 'PT Serif', serif;
}
.navbar a{
    color: black;
    padding-right: 25px;
    padding-left: 25px;
    text-decoration: none;

}
.navbar li:nth-child(2) {
    border-right: none;
}
.navbar li:nth-child(1) {
    border-right: none;
    padding-left: 10px;

}

.navbar a:hover {
    color: #1D7D82;
}

/* MAIN */
.main {
    background: #FCDCCF;
    overflow:hidden;
    padding-top: 10px;
    padding-bottom: 10px;
}

.main h1 {
    font-family: 'Merriweather', serif;
    letter-spacing: 13px;
    font-size: 65px;
    text-align: center;
    margin-bottom: 15px;
    color: #1D7D82;
    
}

.main h3 {
    font-family: 'Cutive Mono', monospace;
    text-align: center;
    font-size: 25px;
    color: #5E5D5D;
    margin-top:0px;
}
.link-grid {
    
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.link-grid .iconify {
    width: 50px;
    height: 50px;
    padding-right: 65px;
    padding-top: 40px;
    padding-bottom: 45px; 
    margin: 0 5px;
    

}
.link-grid a:hover {
    opacity: 0.7;
    transform: scale(0.25);
}

/* ABOUT ME*/
.about {
    background-color: #F8EFE6;
    overflow: hidden;
    padding-top: 10px;
    padding-bottom: 30px;
   
}
h2 {
    
    padding-bottom: 15px;
    font-family: 'Fredoka One', cursive;
    font-size: 30px;
    letter-spacing: 3px;
    color: #1D7D82;
    text-align: center;
}

.levi {
    
    width: 100px;
    height: 100px;
    border: 1.5px solid #1D7D82;
    border-radius: 50%;
    
}
.me {
    float: left;
    width: 20%;
    margin-left: 10%;
    margin-bottom: 20%;
    height: 100%;

}
.me p {
    color: black;
    font-size: 20px;
    font-family: 'PT Serif', serif;
}



.education {
    padding-top: 1%;
    padding-bottom: 1%;
    background-color: #FFD8CF;
    overflow: hidden;
    border: 0px;
    border-radius: 20px;

}
.e1 {
    display: inline-block;
    width: 30%;
    text-align: center;
    margin-bottom: 5%;
  
}
.e2{
    float: right;
    width: 53.333%;
    text-align: left;
    
}
.about h3 {
    font-family: 'Rasa', serif;
    font-size: 25px;
    letter-spacing: 1px;
    
}
.about h4 {
    font-family: 'PT Serif', serif;
    font-size: 25px;
    color: black;
    margin:2px;
}
.about h5 {
    
    font-family: 'Roboto', sans-serif;
        font-size:20px;
    color: #2b2a2a;
    /*use for this color for work!^*/
}
.about p {
    
    font-family: 'PT Serif', serif;
    color: rgb(80, 80, 80);
    font-size: 15px;
}


.about .languages {
    margin-top: 5%;
    margin-bottom: 5%;
    padding-top: 1%;
    padding-bottom: 1%;

    background-color: #FFD6CD;
    overflow: hidden;
    border: 0px;
    border-radius: 20px;
}
.ts1 {
    display: inline-block;
    width: 30%;
    text-align: center;
   
}
.ts2{
    float: right;
    width: 53.333%;
    text-align: left;
    
}
.name-lang {
    display: inline-block;
}
.languages p{
    font-size: 17px;
    margin:5px;
    
}

/* WORK EXPERIENCE */

/*timeline source: https://www.w3schools.com/howto/howto_css_timeline.asp*/
.work {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #F9D7D6;
    overflow: hidden;
    padding-bottom: 5%;
    
}
.work-grid{
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
}
.work-grid::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: #8EACD0;
    top: 0;
    bottom: 0;
    left: 4%;
    margin-left: -3px;
    
  }

  /* all about the text background*/
  .content {
    margin-left: 100px;
    padding: 10px 10px;
    background-color: white;
    position: relative;
    border-radius: 6px;
    
  }

  /*circles for timeline in each*/
  .walmart{
    
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 80%;
    margin-top: 25px;
      
  }
  .walmart::after{
    
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    background-color: white;
    border: 4px solid white;
    top: 15px;
    left: 2.55%;
    border-radius: 50%;
    z-index: 1;
      
  }

  .iyc{
    
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 80%;
    margin-top: 20px;
      
  }
  .iyc::after{
    
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    background-color: white;
    border: 4px solid white;
    top: 15px;
    left: 2.55%;
    border-radius: 50%;
    z-index: 1;
  }

  .mcdonalds{
    
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 80%;
    margin-top: 20px;
      
  }
  .mcdonalds::after{
    
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    background-color: white;
    border: 4px solid white;
    top: 15px;
    left: 2.55%;
    border-radius: 50%;
    z-index: 1;
      
  }
  .work h4{
      
    font-family: 'PT Serif', serif;
    font-size: 20px;
    margin: 0px 0px 0px 0px;
  }
  .work h5{
    font-family: 'PT Serif', serif;
    font-size:17px;
    color: #2b2a2a;
    margin: 5px 0px 5px 0px;
  }
  
  
   
.work p {
    
    font-family: 'PT Serif', serif;
    color: rgb(80, 80, 80);
    font-size: 15px;
    margin: 5px 0px 5px 0px;

}
  


/* SIDE PROJECT */
.project {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color:#FAE4CD;
    overflow: hidden;
}
.project-grid {
    display: grid;
    grid-gap: 50px;
    justify-content: space-evenly;
    align-content: center;
    margin:0;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr ;
    padding-left: 15px;
    
    padding-bottom: 35px;
}
.CL {
    grid-column: 1 / 1;
    grid-row: 1 / 1;
    background-color: white;
    overflow: hidden;
    
    border:0;
    border-radius: 10px;
}
.projectcontent{
    margin: 10px 10px 10px 10px;
}
.CL {
    grid-gap: 15px 15px;
    grid-column: 2 / 3;
    grid-row: 1 /2;
    background-color: white;
    overflow: hidden;
    padding: 5px 10px 10px 10px;
    margin-right:10px;
    border:0;
    border-radius: 10px;
}
.e-grade {
    grid-gap: 15px 15px;
    grid-column: 1 / 2;
    grid-row: 1 /2;
    background-color: white;
    overflow: hidden;
    padding: 5px 10px 10px 10px;
    margin-right:10px;
    border:0;
    border-radius: 10px;
}
.project h4{
    
    padding-bottom: 10px;
    font-family: 'PT Serif', serif;
    font-size: 20px;
    margin: 0px 0px 0px 0px;
    text-align: center;
}
.project p
{
    font-family: 'Mukta', sans-serif;    font-size:20px;
    color: #2b2a2a;
    margin: 5px 0px 5px 0px;
    text-align: center;
    font-size: 17px;
    line-height: 19px;
}
#img-project{
    width: 50%;
    height: 50%;
    object-fit: cover;
    display: block;
    margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
    
}
#img-project:hover{
    opacity: 75%;
}





/* HACKATHON */
.hackathon {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #F8EFE6;
    overflow: hidden;
}
.hackaton-grid {
    display: grid;
    grid-gap: 50px;
    justify-content: space-evenly;
    align-content: center;
    margin:0;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding-left: 15px;
    padding-bottom: 35px;
}

.hackathon h4 {
    font-family: 'PT Serif', serif;
    font-size: 20px;
    margin: 0px 0px 0px 0px;
    padding: 7px 0px 0px 0px;
    text-align: center;
}


.hackathon h5{
    font-family: 'Roboto', sans-serif;
    font-size:15px;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    color: #2b2a2a;
    text-align: center;
}
.hackathon p{
    font-family: 'Mukta', sans-serif;    
    font-size:20px;
    color: #2b2a2a;
    
    text-align: center;
    font-size: 17px;
    line-height: 19px;
}
.hackathon .date-hackathon p {
    color:#1D7D82;
}



.garudahacks1 {
    grid-gap: 15px 15px;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    background-color: white;
    overflow: hidden;
    padding: 5px 10px 10px 10px;
    border:0;
    border-radius: 10px;
    
}
.shehacks1 {
    grid-gap: 15px 15px;
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    background-color: white;
    overflow: hidden;
    padding: 5px 10px 10px 10px;
    border:0;
    border-radius: 10px;
}
.laurierdfcc1 {
    grid-gap: 15px 15px;
    grid-column: 3 / 4;
    grid-row: 1 /2;
    background-color: white;
    overflow: hidden;
    padding: 5px 10px 10px 10px;
    margin-right:10px;
    border:0;
    border-radius: 10px;
}
.ruhacks1 {
    grid-gap: 15px 15px;
    grid-column: 2 / 3;
    grid-row: 1 /2;
    background-color: white;
    overflow: hidden;
    padding: 5px 10px 10px 10px;
    margin-right:10px;
    border:0;
    border-radius: 10px;
}
.tohacks1 {
    grid-gap: 15px 15px;
    grid-column: 1 / 2;
    grid-row: 1 /2;
    background-color: white;
    overflow: hidden;
    padding: 5px 10px 10px 10px;
    margin-right:10px;
    border:0;
    border-radius: 10px;
}




/* FOOTER */
.the-footer {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #D6EFF6;
    color: #232323;
    font-size: 14px;
    font-family: 'PT Serif', serif;
    overflow: hidden;
}
.the-footer p {
    padding-top: 10px;
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
    font-size: 15px;
    letter-spacing: 0.75px;
}
.link-grid1 {
    
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.link-grid1 .iconify {
    width: 25px;
    height: 25px;
    padding-right: 65px;
    padding-top: 10px;
    padding-bottom: 25px; 
    margin: 0 5px;
}
.link-grid1 a:hover {
    opacity: 0.7;
    transform: scale(0.25);
}





